<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <clear />
            <add name="Plesk_Handler_0127764135" path="*.asp" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="c:\windows\system32\inetsrv\asp.dll" resourceType="Either" />
            <add name="Plesk_Handler_0127764231" path="*.cer" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="c:\windows\system32\inetsrv\asp.dll" resourceType="Either" />
            <add name="Plesk_Handler_0127764232" path="*.asa" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="c:\windows\system32\inetsrv\asp.dll" resourceType="Either" />
            <add name="Plesk_Handler_0127764233" path="*.cdx" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="c:\windows\system32\inetsrv\asp.dll" resourceType="Either" />
            <add name="Plesk_Handler_0127764236" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
            <add name="Plesk_Handler_0127764237" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
            <add name="Plesk_Handler_0127764238" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
            <add name="Plesk_Handler_0127764244" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
            <add name="Plesk_Handler_0127764247" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
            <add name="Plesk_Handler_0127764277" path="*.shtm" verb="GET,POST" modules="ServerSideIncludeModule" resourceType="Either" />
            <add name="Plesk_Handler_0127764278" path="*.shtml" verb="GET,POST" modules="ServerSideIncludeModule" resourceType="Either" />
            <add name="Plesk_Handler_0127764279" path="*.stm" verb="GET,POST" modules="ServerSideIncludeModule" resourceType="Either" />
            <add name="Plesk_Handler_0127764280" path="*.php" verb="*" modules="CgiModule" scriptProcessor="c:\program files\parallels\plesk\additional\pleskphp5\php-cgi.exe" resourceType="Either" />
            <add name="Plesk_Handler_0127764281" path="*.php3" verb="*" modules="CgiModule" scriptProcessor="c:\program files\parallels\plesk\additional\pleskphp5\php-cgi.exe" resourceType="Either" />
            <add name="Plesk_Handler_0127764282" path="*.phtml" verb="*" modules="CgiModule" scriptProcessor="c:\program files\parallels\plesk\additional\pleskphp5\php-cgi.exe" resourceType="Either" />
            <add name="Plesk_Handler_0127764283" path="*.cgi" verb="GET,HEAD,POST" modules="CgiModule" scriptProcessor="c:\program files\parallels\plesk\additional\perl\bin\perl.exe &quot;%s&quot; %s" resourceType="Either" />
            <add name="Plesk_Handler_0127764284" path="*.pl" verb="GET,HEAD,POST" modules="CgiModule" scriptProcessor="c:\program files\parallels\plesk\additional\perl\bin\perl.exe &quot;%s&quot; %s" resourceType="Either" />
            <add name="Plesk_Handler_0127764285" path="*.plx" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="c:\program files\parallels\plesk\additional\perl\bin\perlis.dll" resourceType="Either" />
            <add name="Plesk_Handler_0127764286" path="*.py" verb="*" modules="CgiModule" scriptProcessor="c:\program files\parallels\plesk\additional\python\python.exe -u &quot;%s&quot; %s" resourceType="Either" />
            <add name="Plesk_Handler_0127764287" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
            <add name="Plesk_Handler_0127764288" path="trace.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TraceHandler" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
            <add name="Plesk_Handler_0127764289" path="WebAdmin.axd" verb="GET,DEBUG" type="System.Web.Handlers.WebAdminHandler" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
            <add name="Plesk_Handler_0127764292" path="*.dll" verb="*" modules="IsapiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="Plesk_Handler_0127764293" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" />
        </handlers>
        <httpErrors>
            <clear />
            <error statusCode="401" subStatusCode="-1" prefixLanguageFilePath="" path="C:\inetpub\vhosts\lcbanquetes.com\error_docs\unauthorized.html" responseMode="File" />
            <error statusCode="403" subStatusCode="-1" prefixLanguageFilePath="" path="C:\inetpub\vhosts\lcbanquetes.com\error_docs\forbidden.html" responseMode="File" />
            <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="C:\inetpub\vhosts\lcbanquetes.com\error_docs\not_found.html" responseMode="File" />
            <error statusCode="405" subStatusCode="-1" prefixLanguageFilePath="" path="C:\inetpub\vhosts\lcbanquetes.com\error_docs\method_not_allowed.html" responseMode="File" />
            <error statusCode="406" subStatusCode="-1" prefixLanguageFilePath="" path="C:\inetpub\vhosts\lcbanquetes.com\error_docs\not_acceptable.html" responseMode="File" />
            <error statusCode="412" subStatusCode="-1" prefixLanguageFilePath="" path="C:\inetpub\vhosts\lcbanquetes.com\error_docs\precondition_failed.html" responseMode="File" />
            <error statusCode="500" subStatusCode="-1" prefixLanguageFilePath="" path="C:\inetpub\vhosts\lcbanquetes.com\error_docs\internal_server_error.html" responseMode="File" />
            <error statusCode="501" subStatusCode="-1" prefixLanguageFilePath="" path="C:\inetpub\vhosts\lcbanquetes.com\error_docs\not_implemented.html" responseMode="File" />
            <error statusCode="502" subStatusCode="-1" prefixLanguageFilePath="" path="C:\inetpub\vhosts\lcbanquetes.com\error_docs\bad_gateway.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
